.fast {
	padding: 92px 0 115px 0;
}
.fast__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.fast__content {
	max-width: 445px;
}
.fast__content-title {
	margin-bottom: 16px;
}
