.footer {
	background-color: #e7ecff;
	padding-top: 61px;
}

.footer__content {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 60px;
	&::after {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		background-color: #cdd1d4;
		position: absolute;
		top: 70px;
	}
}
.footer__content-text {
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;

	color: #939ea4;
	margin-right: 382px;
}
.footer__content-logo {
	font-weight: 900;
	font-size: 26px;
	line-height: 38px;

	color: #37447e;
	margin-right: 407px;
}
.footer__content-btn {
	font-size: 12px;
	padding: 5px 16px 5px 16px;
}
.footer__nav {
	display: flex;
	justify-content: space-between;
	padding-bottom: 32px;
}
.footer__nav-list {
	display: flex;
}
.footer__nav-item {
	margin-right: 60px;
	&:last-child {
		margin-right: 0;
	}
}
.footer__nav-link {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;

	color: #929ecc;
}
.footer__soc-list {
	display: flex;
	align-items: center;
}
.footer__soc-item {
	margin-right: 30px;
	&:last-child {
		margin-right: 0;
	}
}
.footer__soc-link {
}
.footer__soc-svg {
	fill: #b0b8bc;
}
