// =======header===========
.hero {
	background-image: url(/img/hero_bgrnd.png);
	background-repeat: no-repeat;
	background-position-x: right;
	padding-bottom: 386px;
}

.header {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 243px;
}
.header__nav-list {
	display: flex;
}
.header__nav-item {
	margin-right: 60px;
	&:last-child {
		margin-right: 0;
	}
}
.header__nav-link {
}
.header__logo {
	font-weight: 900;
	font-size: 26px;
	line-height: 38px;

	color: #37447e;
}
.header__button {
	padding: 8px 57px;
}

// ============HERO=============
.hero__content {
	max-width: 540px;
}
.hero__content-title {
	margin-bottom: 20px;
}
.hero__content-text {
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 69px;
}
.hero__content-purchase-btn {
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	padding: 3px 40px 3px 40px;
	margin-right: 26px;
}
.hero__content-learn-btn {
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	color: var(--complementary-color);
	background-color: transparent;
	border: 2px solid #091133;
	padding: 1px 52px 1px 52px;
}
