.light {
	padding: 122px 0 130px 0;
}
.light__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.light__content {
	max-width: 445px;
}
.light__content-title {
	margin-bottom: 16px;
}
