.powerful {
	padding: 92px 0 115px 0;
}
.powerful__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.powerful__content {
	max-width: 445px;
}
.powerful__content-title {
	margin-bottom: 16px;
}
.powerful__content-btn {
	margin-top: 40px;
	padding: 5px 30px 5px 30px;
}
