html {
	scroll-behavior: smooth;
}
body {
	color: var(--main-text-color);
	background-color: var(--main-background-color);

	font-family: Roboto, sans-serif;

	margin-left: auto;
	margin-right: auto;
}
a {
	color: #505f98;
	text-decoration: none;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}

h1 {
	margin: 0;
	padding: 0;
	font-weight: 500;
	font-size: 50px;
	line-height: 66px;
	color: var(--complementary-color);
	letter-spacing: 1px;
}

h2,
h3,
h4 {
	margin: 0;
	padding: 0;
	font-weight: 500;
	font-size: 36px;
	line-height: 48px;
	color: var(--complementary-color);
}
p {
	color: var(--main-text-color);
	margin: 0;
	padding: 0;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}
button {
	cursor: pointer;
	border: none;
	background: #111b47;
	border-radius: 2px;
	color: #ffffff;
}
