:root {
	--main-text-color: #6f7cb2;
	--complementary-color: #091133;
	--second-complementary-color: #ffffff;
	--activity-text-color: #4ea4dc;
	--main-background-color: #ffffff;
	--complementary-backgraund-color: #2f303a;
}
